.container {
    background-color: honeydew !important;
}
body{
    background-color: honeydew !important;
}
img{
    width: 40%;
    float:left;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    font-size: 80% !important;
}

.btn{
    width: 100% !important;
    height:15% !important;
}
#doctor,#status{
    width: 150px !important;
    height: 33px !important;
    background-color: white !important;
    margin-bottom: 8px !important;
}
div p{
    margin-top: 3px !important;
    margin-right: 15px !important;
    font-weight: 700;
    font-size: 15px;
    text-align: right !important;
}
.search_doctor{
    margin-top: 20px !important;
    display: inline-flex;
    float:left;
}
.search_doctor input{
    width: 65% !important;
}
.search_doctor button {
    width: 40% !important;
}

.inline{
    display: inline-flex;
    float: left;
}
select,.btn.btn-success {
    margin-left: 8px !important;
    margin-bottom: 12px !important;
}


#take{
    width: 149px !important;
    height: 50% !important;
    float: left !important;
}
.btn-secondary{
    color:black !important;
    text-align: right !important;
}
.menu .btn.btn-outline-dark.btn-lg.btn-block {
    width: 200px !important;
    float: right !important;
    height: 37px !important;;
    font-size: 15px !important;;
    text-align: center  !important;
}
.btn {
    white-space: normal !important;
}
.information{
    text-align: right;
}
#logo{
    font-size: 12px;
}

.search{
    border: solid 1px  #000000 !important;
}
p{
    margin-left: 10px;
}
.dropdown-toggle{
    margin-bottom: 10px !important;
}
th{
    text-align: center !important;
}
.list-group{
    margin-top: 20px !important;
}
.btn:active{
    background-color: darkblue !important;
}
.btn-outline-dark{
    background-color: forestgreen !important;
    border-bottom: 4px solid #b2b1b1 !important;
    background: -webkit-gradient(linear, left top, left bottom, from( #e2e2e2 ), to( forestgreen)) !important;
    background: -moz-linear-gradient(top,  #e2e2e2, forestgreen) !important;
    font-weight: 700 !important;

    box-shadow: inset 1px 1px 0 #f5f5f5 !important;

}

.col-12 {
    width: 20% ;
    float: right;
}
.align{
    text-align: right !important;
}


a{
    color: #222222 !important;
    text-decoration: none !important;
    font-size: 80% !important;
}
a:hover{
    color: red !important;
    font-weight: 900 !important;
}
.foot{
    position: fixed !important;
    bottom: 0 !important;

}
.list-group-item.active{
    background-color: lightgreen !important;
}
.list-group a:hover{
    color: #222222 !important;
    font-weight: 100 !important;
    background-color: palegreen !important;
}
